*
{
	margin:0;
	padding:0;
	box-sizing: border-box;  

}
body
{
	 background:#ffffff;
	 font-family: 'Montserrat Alternates', sans-serif;


}

body .smooth-container { scroll-behavior: smooth }
.navbarfixed
{
	background:white !important;
	
	position:fixed !important;
	top:0px;
	width:100%; 
	color:black !important;
	box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
	
	 z-index: 100;
	 transition: 0.8s margin-bottom:2px;
	 padding:13px !important; 

}
p
{
	font-size:1.2em;
	font-weight:400;
	color:rgb(85, 90, 100);
}
.btn-readmore
{
	background: rgba(0, 51, 204, 0.2) !important;
    color: #03c !important;
    width:200px;
    padding:12px;
    font-size:20px !important;  
    transition: 0.8s;
}
.btn-readmore:hover
{
	background: #007bff !important;
	color:white !important; 
}

@media screen and (max-width: 960px)
{
	#why-empc
	{
		width:900px;	 
	}
}

.ceo-banner
{
	width:100%;
-webkit-clip-path: polygon(0 2%, 51% 10%, 100% 0, 100% 94%, 28% 100%, 0 92%, 0 85%, 0% 20%);
clip-path: polygon(0 2%, 51% 10%, 100% 0, 100% 94%, 28% 100%, 0 92%, 0 85%, 0% 20%);
padding:20px;
background:#dff9fb;
color:rgb(85, 90, 100);
height:600px;   
}
#ceobox
{
	width:400px;
	padding:15px;
	background:#ffffff; 
	color:rgb(85, 90, 100); 
	height:300px;
	border-radius:4px;
	border:1px solid #f4f4f4;  
}
@media screen and (max-width: 990px)
{
	#ceobox
	{
		width:100%;
		height:100%; 

	}
}
@media screen and (max-width:768px )
{
.ceo-banner
{
	height:auto; 
}	
}
#ceobox p
{
	font-size:1em; 
}
.ceo-images
{
	width:70px;
	height:70px;
	border-radius:50%;

}
#pricing
{
 background:#dff9fb;
color:rgb(85, 90, 100);
height:auto; 
padding:25px; 	
}
 .table-header
{
 background:#dff9fb;
 padding:40px;
 box-shadow:  0px 8px 8px 0px rgba(0,0,0,0.2);
 width:400px;
 position:relative;
 top:50px; 
 border-bottom:1px solid #ccc; 

}
.table-box
{
	width:400px;
	height:600px;
	padding:30px 20px;
	background:white;
	 box-shadow:  0px 1px 1px 0px rgba(0,0,0,0.2);
 
	color:black;
	
	line-height:2em;  
	text-align:center;

}

.table-box ul li 
{
	color:#7f8c8d;
	font-size:1em;
}
#trial-btn
{
	position:relative;
	top:27px; 
}


/*faq */
 .faq {
  
  padding:25px;
  background-color: #33B2FF;
    background-image: linear-gradient(42deg #33B2FF 0%,#0E539c 100%);
}

.faq .section-title h2, .faq .section-title p {
  color: #fff;
}

.faq .section-title h2::after {
  background: rgba(255, 255, 255, 0.6);
}

.faq .faq-list {
  padding: 0 100px;
}

.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

.faq .faq-list li + li {
  margin-top: 15px;
}

.faq .faq-list li {
  padding: 38px;
  background: #fff;
  border-radius: 5px;
  position: relative;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 40px;
  outline: none;
}

.faq .faq-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20 px;
  color: #8577fb;
}

.faq .faq-list .icon-show, .faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #2c4964;
}

.faq .faq-list a.collapsed:hover {
  color: #5846f9;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}
#testimonials
{
	
}
figure
{
	background:#dff9fb !important;
	display:block; 
	margin:1.8em;
	padding: 2em; 
}

blockquote
{
	padding: .5em;
	font-size: 1.3em;
	font-style: italic;
	text-align:center; 
}
figcaption
{
  text-align:center;
  margin-bottom: 1em; 
}

.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #106eea;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #3284f1;
  color: #fff;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.3);
  padding: 20px 0 30px 0;
}

.contact .info-box i {
  font-size: 32px;
  color: #106eea;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #b3d1fa;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.4);
  padding: 30px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #106eea;
}

.contact .php-email-form input {
  padding: 20px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
  background: #106eea;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #3b8af2;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#copy-right
{
	width:100%;
	padding:5px;
	background:#dff9fb;
	color:black;   
	font-size:1em;
	border-radius:20px;  
}
